<% @comment = Ecm::Comments::Comment.new(params[:ecm_comments_comment]) unless defined?(@comment) %>
<% @commentable = commentable if defined?(commentable) %>

<%= simple_form_for [@commentable, @comment],  :url => ecm_comments_comments_path, :html_class => 'well' do |f| %>
  <%= f.hidden_field :commentable_type, :value => @commentable.class %> 
  <%= f.hidden_field :commentable_id,   :value => @commentable.to_param %> 

  <%= f.input :nickname, :input_html => { :style => 'display:none' }, :label_html => { :style => 'display:none' } %>
  <%= f.input :name, :input_html => { :class => Ecm::Comments::Configuration.input_name_css_classes } %>
  <%= f.input :email, :input_html => { :class => Ecm::Comments::Configuration.input_email_css_classes } %>
  <%= f.input :homepage, :input_html => { :class => Ecm::Comments::Configuration.input_homepage_css_classes } %>
  <%= f.input :content, :as => :text, :input_html => { :class => Ecm::Comments::Configuration.input_content_css_classes } %>
  
  <div class="controls form-actions">
    <%= button_tag(:type => 'submit', :class => 'input btn btn-primary', :id => 'ecm_comments_comment_submit') do %>
      <i class="icon-ok"></i>
      <%= t('helpers.submit.create', :model => f.object.class.model_name.human) %>
    <% end %>
  </div>  
<% end %>
